<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="View/Home.css">
    
    <title>{class}</title>
</head>

    <body>



        <header>

            <nav>

                <ul>
                    <li>
                        Home
                    </li>

                    <li>
                        <a href="index.php?namespace=Controller\Quantidade_de_Vetores">Vetores</a>
                    </li>

                </ul>
                
            </nav>

        </header>





        <section>

            {content}

        </section>




        <footer>

            <ul>
                <li>
                    <a href="">Facebook</a>
                </li>

                <li>
                    <a href="">Instagram</a>
                </li>

            </ul>

        </footer>

        
    </body>

</html>