<div>

    <label>Informções disponíveis no vetor {$i} </label> 
    <select name="vetor_{$i}" class="vetores">

        <option value="Model\Vetores\Vetor_strategy_pattern\Vetor_input\Vetor_xyz_input">X, Y, Z</option>
        <option value="Model\Vetores\Vetor_strategy_pattern\Vetor_input\Vetor_xyr_input">X, Y, Módulo</option>
        <option value="Model\Vetores\Vetor_strategy_pattern\Vetor_input\Vetor_xzr_input">X, Z, Módulo</option>
        <option value="Model\Vetores\Vetor_strategy_pattern\Vetor_input\Vetor_yzr_input">Y, Z, Módulo</option>      

        

    </select>

</div>